* {
    font-size: 10px;
    color: black;
}


.btn {
    background: none;
    border: 0;
    cursor: pointer;
    color: grey;
    font-size: 1.5rem;
    text-transform: uppercase;
    background: rgba(0,0,0,0.1);
    border-bottom: 3px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
}   

.time-left, .timerLabel{
    font-weight: 100;
    font-size: 8rem;
    margin: 0;
    color: black;
    text-shadow: 4px 4px 0 rgba(7, 9, 102, 0.486);
}